<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tarefas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid h-100">
         <div class="row h-100">
             <header class="col-md-2 text-white header-menu">
                 <ul>
                     <li><a href="/Tarefas/Consultar">Consultar Tarefas</a></li>
                 </ul>
             </header>
              <div class="col-md-10">
                  <div class="row nav-layout">
                      <a href="/Tarefas/Index">Tarefas</a>
                  </div>
                  <div class="row main-content">
                        <div class="container">
                            <main role="main" class="h-100">
                                @RenderBody()
                            </main>
                        </div>
                  </div>
                  <div class="row footer-layout">
                      &#64;2023
                  </div>
              </div>
         </div>
    </div> 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
